
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #008000; background-image: -moz-linear-gradient(top, #ffffff, #008000); background-image: -ms-linear-gradient(top, #ffffff, #008000); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#008000)); background-image: -webkit-linear-gradient(top, #ffffff, #008000); background-image: -o-linear-gradient(top, #ffffff, #008000); background-image: linear-gradient(top, #ffffff, #008000); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#008000, GradientType=0); border-color: #008000 #008000 #008000; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #008000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #ffffff; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #008000; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #008000; background-image: -moz-linear-gradient(top, #008000, #008000); 
background-image: -ms-linear-gradient(top, #008000, #008000); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008000), to(#008000)); background-image: -webkit-linear-gradient(top, #008000, #008000); background-image: -o-linear-gradient(top, #008000, #008000); background-image: linear-gradient(top, #008000, #008000); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#008000, endColorstr=#008000, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #008000; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background:#f0f0f0;
	color:#770202;
}



.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container:before,
.container:after {
    display: table;
    line-height: 0;
    content: "";
}

.container:after {
    clear: both;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}

.container-fluid:after {
    clear: both;
}






.logintitle { 
	position: relative;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300p;
	height:300px;
	
}

.login { 
	position:relative;
	top: 35%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.chat{	
	position:relative;
	top:5%;
	margin: -5px 0 0 -5px;
	width:100%;
	height:25%;
	background:#;
	
	
	
}
div.attag{
position: static;
padding-bottom:0;
margin-bottom:0; 
margin-left:3%;
width:70%;
background:#ffffff;
border:1px solid   #f8f9f9;
 z-index: -1;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
bottom: 0;
}


div.attag ul   {  
position: static;
margin: 0 0 0;
padding-left: 0%;
width: auto;
list-style: none;
font-size: 2.4 em;

}






div.new p{
text-align:center;
color:red ; 
opacity:1;
}


div.attag ul li:hover  {  

background-color:#770202 ;
cursor: pointer; 
cursor: hand;
}
div.attag ul li:first-child:hover {  

background-color:#770202;

border-top-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-top-left-radius: 5px;

border-top-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-top-right-radius: 5px;
}
div.attag ul li:last-child:hover  {  

background-color:#770202;

border-bottom-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-bottom-left-radius: 5px;

border-bottom-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-bottom-right-radius: 5px;

}



.chat .users, .chat .chatbox ,.chat .userspic, .chat.profile{
 display:inline-block;
 vertical-align:top;
 height:470px;
 position:relative; 
 
}
.hide {
	display: none;
}
.inputext {
	width:80%;
word-wrap:break-word;
padding:4px;
 border-radius:4px;
  overflow-y:auto;
  color:#770202;
	
}


.chat .users{

 background:#008000;
 color:#ffffff;
 font-weight:bold;
 width:5%;
 overflow-y:auto;
 border-radius:4px;
padding-top:20px;
  font-family: "Times New Roman", Georgia, Serif;
 
}




#chatname{
 display:inline-block;
  color: #ffffff;
    background-color:#008000;
	padding:4px;
  font-size:16px;
 text-transform:capitalize;
    text-decoration: underline;
    -moz-text-decoration-color: red;
  width:10%,auto%;
  text-align:left;
    font-family: 'Lato';
	  box-shadow: -1px 2px 0px #000000;
	  border-radius:10px;
     
}

#msgd{
 
 font-size:16px;
  padding: 0.5rem;
   overflow: hidden;
   display: flex;
    
   
     
}
.headed{
text-transform:uppercase; 
 font-size:20px;
 text-align:left;
 padding:1px;
 margin:1%;
 font-family: 'lato' ;
 font-weight:bold;
  color:#770202;
     
}



.messages{ 
 font-size:16px;   
   display: block;
   width:98%;
   background:#ffffff;
       border-radius: 5px;
	   margin-bottom: 6px;
    box-shadow: -1px 1px 0px #e5e5e5;
	padding-left:2%;
	padding-bottom:2%;
     
}

.replyy2{ 
   margin-left:20px;
      background:#effdde;
	  width:50%;
	  border-radius: 10px;
	   margin-bottom:5px;
    box-shadow: -1px 2px 0px #e5e5e5;
  
     
}




.btn{
	
	height:20%;
	width:10%;
}

.chat .chatbox{
 color:#770202;
 width:120%;
 
}
.chat .chatbox .msgs{
background:#F8F8FF;
margin-bottom:2%;
overflow-y:auto;
overflow-x:auto;
 color:#000000;
 height:100%;
 padding-left:1%;
 padding-right:1%;
 font-family:"Times New Roman", Georgia, Serif;
 text-decoration:justify;
}
.chat .chatbox #msg_form{
 padding-top:1px;
 width:100%;
}
.chat .error{color:red;}
.chat .success{color:green;}
.chat .user{color:white;}
.chat .msgs .msg, .chat .users .user{
	
	 word-wrap: break-word;
	 width:100%
	}


table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table tbody + tbody {
    border-top: 2px solid #dddddd;
}

.table .table {
    background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}

.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}

.table td.span1,
.table th.span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}

.table td.span2,
.table th.span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}

.table td.span3,
.table th.span3 {
    float: none;
    width: 204px;
    margin-left: 0;
}

.table td.span4,
.table th.span4 {
    float: none;
    width: 284px;
    margin-left: 0;
}

.table td.span5,
.table th.span5 {
    float: none;
    width: 364px;
    margin-left: 0;
}

.table td.span6,
.table th.span6 {
    float: none;
    width: 444px;
    margin-left: 0;
}

.table td.span7,
.table th.span7 {
    float: none;
    width: 524px;
    margin-left: 0;
}

.table td.span8,
.table th.span8 {
    float: none;
    width: 604px;
    margin-left: 0;
}

.table td.span9,
.table th.span9 {
    float: none;
    width: 684px;
    margin-left: 0;
}

.table td.span10,
.table th.span10 {
    float: none;
    width: 764px;
    margin-left: 0;
}

.table td.span11,
.table th.span11 {
    float: none;
    width: 844px;
    margin-left: 0;
}

.table td.span12,
.table th.span12 {
    float: none;
    width: 924px;
    margin-left: 0;
}

.table tbody tr.success td {
    background-color: #dff0d8;
}

.table tbody tr.error td {
    background-color: #f2dede;
}

.table tbody tr.warning td {
    background-color: #fcf8e3;
}

.table tbody tr.info td {
    background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
    background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover td {
    background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
    background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
    background-color: #c4e3f3;
}
